<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ccommit.gameauctionserver.mapper.MyResentMapper">

    <insert id="insertMyResentTradeWithBid">
        <selectKey keyProperty="id" order="AFTER" resultType="int">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO myresenttrade ( seller_id,
                                    sale_time,
                                    item_id,
                                    price)
        VALUES
        <foreach collection="myResentTradeWithBidList" item="myResentWithBid" separator=",">
            (
             #{myResentWithBid.sellerId},
             NOW(),
             #{myResentWithBid.itemId},
            <choose>
                <when test ="myResentWithBid.price == myResentWithBid.presentPrice">
                    #{myResentWithBid.price}
                </when>
                <otherwise>
                    #{myResentWithBid.presentPrice}
                </otherwise>
            </choose>
            )
        </foreach>
    </insert>

    <select id="readMyResentTrade" resultType="com.ccommit.gameauctionserver.dto.MyResentTrade">
        SELECT  id,
                price     AS price,
                item_id   AS itemId,
                seller_id AS sellerId,
                sale_time AS saleTime
        FROM    myresenttrade
        WHERE   seller_id = #{userId}
    </select>

</mapper>