<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ccommit.gameauctionserver.mapper.UserMapper">

    <select id="getMaxID" resultType="int">
        SELECT COALESCE(MAX(id),0)
        FROM user;
    </select>

    <!-- 아이디 충복 체크 -->
    <select id="checkUserID" parameterType="String" resultType="int">
        SELECT COUNT(*) as id
        FROM user
        WHERE user_id = #{userID}
    </select>

    <select id="getID" parameterType="String" resultType="java.lang.Integer">
    SELECT IFNULL(id,0) as id
    FROM user
    WHERE user_id = #{userID}
    AND password = #{password}
    </select>

    <!-- 회원가입 -->
    <insert id="createUser" parameterType="com.ccommit.gameauctionserver.dto.User">
        INSERT INTO user (   id
                            ,user_id
                            ,password
                            ,nickname
                            ,phone_number
                            ,gold
                            ,user_level
                            ,isAdmin
                            ,isAbusing)
        VALUES ( #{id}
                ,#{userID}
                ,#{password}
                ,#{nickname}
                ,#{phoneNumber}
                ,#{gold}
                ,#{userLevel}
                ,#{isAdmin}
                ,#{isAbusing});
    </insert>

    <select id="readUser" parameterType="int" resultType="com.ccommit.gameauctionserver.dto.User">
        SELECT id,
        user_id as userID,
        password,
        nickname,
        gold,
        user_level as userLevel,
        phone_number as phoneNumber
        FROM user
        WHERE id = #{id}
    </select>

    <delete id="deleteAll">
        DELETE FROM user;
    </delete>

</mapper>
